$click-color : rgb(246,139,28);
$unclick-color: rgb(180,180,180);
$card-head-color: rgb(144,144,144);
$background-color: rgb(230,230,230);
$red:rgb(255,65,54);
$font-color:rgb(48,48,48);
$line-color:rgb(239,239,239);
$gray:rgb(139,139,139);